@model i18nEntities.project

@{
    ViewBag.Title = "Resource Strings";
}

<h2>Resource Strings</h2>
@Html.Hidden("projectId", Model.id)

<form id="newProjectForm" class="well form-horizontal" action="">
    <fieldset>
        <legend>New Resource Item</legend>
        <div class="control-group">
            <label class="control-label" for="name">Name</label>
            <div class="controls">
                <input type="text" id="resourceItemName" name="resourceItemName"/>
                <a id="newResourceItem" href="#" class="btn btn-mini btn-success">New</a>
            </div>
        </div>
    </fieldset>
</form>

<table class="table well">
    <thead>
        <tr>
            <th></th>
            <th>Resource Name</th>
            <th>Strings</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var resxItem in Model.resxItems)
        {
        <tr>
            <td>
                @Html.Hidden("resxId-" + resxItem.id.ToString(), resxItem.id)
                <a href="#" class="btn btn-success btn-mini"><i class="icon-edit icon-white"></i></a>
                <a href="#" class="btn btn-danger btn-mini"><i class="icon-trash icon-white"></i></a>
            </td>
            <td>@resxItem.resourcekey</td>
            <td>
                @foreach(var lang in Model.langs)
                {
                    <a href="#" class="btn btn-primary btn-mini">@lang.code</a>
                }
            </td>
        </tr>            
        }
    </tbody>
</table>